## Import & Clean Document and Count Tokens

#### In this example, we will be doing the following:

- Importing 2 documents
- Cleaning 2 documents
  * Lowercasing all text
  * Creating list of all words
  * Removing punctuation
  * Removing stop words
  * Creating a new list of tokens
- Counting occurences of all tokens
- Converting this list to a dataframe

### Set-up

Import packages we will be using

In [26]:
import re, string
import pandas as pd
import numpy as np
from collections import Counter
from docx import Document
from nltk.corpus import stopwords

### Import Documents

Create function to read Word doc and append to string

In [3]:
def getText(filename):
    doc = Document(filename)
    fullText = []
    for para in doc.paragraphs:
        fullText.append(para.text)
    return '\n'.join(fullText)

Import both articles and save them as variables

In [33]:
full_doc1 = getText('SGM_Doc1_When_Airbnb_Launched.docx')

In [35]:
full_doc2 = getText('SGM_Doc2_Why_Rewards_for.docx')

Preview document

In [34]:
full_doc1

'When Airbnb launched in 2008, the tech start-up offered cash-strapped travelers cheap overnight stays on sofas and in spare bedrooms around the world.\n\nWhat a difference 11 years makes.\n\nWith the introduction of a new rental tier aptly called Airbnb Luxe, the company’s accommodation options, which had already expanded to include entire houses and even some upscale ones at that, now include the high-end market.\n\n“We have an overall strategy of having a product for every traveler, and Luxe is for the ones seeking luxury,” said Brian Chesky, Airbnb’s chief executive and co-founder.\n\nThe Luxe portfolio of 2,000 homes, available starting Tuesday, includes villas in Tuscany, ski lodges in New Zealand and castles in the French countryside. They were selected from the 5,000 properties listed on Luxury Retreats, a high-end vacation rental company that Airbnb acquired in 2017.\n\nThe customers for these homes, Mr. Chesky said, are the same guests who rented sofas with the company when they were younger, though now they have well-paying jobs and more discerning tastes and seek upscale accommodations. Airbnb has seen a 60 percent increase in the last year in bookings that cost $1,000 or more a night, Mr. Chesky said (he declined to be more specific).\n\nSeveral criteria were used to select the Luxe properties. The home’s design, location and views must reflect a sense of place. For example, a modern villa situated above Cape Town’s Clifton Beach has custom finishes made from locally sourced materials, and houses an expansive collection of indigenous art.\n\nThe activities the homes offer also figure in and should give guests an idea of the destination’s culture and way of life. At Castello di Vicarello, a medieval castle in the Tuscan countryside, guests can hike through 100 acres of land and help local farmers with the grape and olive harvests.\n\nBookings for Luxe’s entry-level listings, typically two-bedroom condominiums in the Caribbean, start at around $600 a night during low season. The most expensive, a private atoll in French Polynesia called Nukutepipi, is about $1 million a week. The property includes 21 bedrooms, four pools and a staff of 50.\n\nMr. Chesky said that the average listing on Luxe is $2,000 a night. On the main site, in comparison, travelers can find listings for under $20 a night that include an apartment in St. Petersburg for $10 a night. For Plus, the company’s tier that includes more upmarket but not necessarily luxury homes, the average listing is $150 a night.\n\nAll renters are assigned a trip designer — similar to a concierge or travel adviser — who helps them arrange every aspect of their stay, from airport transfers and restaurant reservations to local tours and experiences at the property itself.\n\nEven with this level of detail, it will be a challenge for Airbnb to gain credibility in the luxury travel sector, said Rummy Pandit, the executive director of the Lloyd D. Levenson Institute of Gaming, Hospitality and Tourism at Stockton University in New Jersey.'

In [36]:
full_doc2

'Why Rewards for Loyal Spenders Are ‘a Honey Pot for Hackers’\nThe punch cards stuffed in your wallet know next to nothing about you, except maybe how many frozen yogurts you still need to buy to get a free one.\n\nBut loyalty programs, as they shift from paper and plastic to apps and websites, are increasingly tracking a currency that can be more valuable than how much you spend: personal data. As a result, the programs know things about you that some of your friends may not, like your favorite flavor (mango), when your cravings strike (early afternoon) and how you pay (with your Visa), in addition to billing details and contact information.\n\nHackers are in close pursuit.\n\nOne loyalty-fraud prevention group estimates, conservatively, that $1 billion a year is lost to crime related to the programs. As a share of fraud not involving a physical payment card, such schemes more than doubled from 2017 to 2018, according to the Javelin Strategy & Research firm.\n\nSome criminals use stolen credentials to impersonate customers, breach loyalty profiles and then tap into separate accounts. Others deplete balances or sell points on dark web marketplaces. One hacked Southwest Airlines rewards account with at least 50,000 miles was advertised for $98.88, according to the cloud security company Armor.\n\nIn a data breach revealed last year as one of the largest ever, thieves attacked Marriott’s Starwood unit, stealing the personal information — including five million unencrypted passport numbers — of more than 350 million customers and Starwood Preferred Guest members. Data stored in Dunkin’ Donuts’ DD Perks program was also exposed in an attack disclosed last year.\n\nThis year, several McDonald’s customers in Canada complained that criminals had breached their accounts on the chain’s loyalty app, My McD’s, and placed unauthorized orders, some totaling more than $1,000. A McDonald’s spokesman said that the company was aware of “some isolated incidents” involving fraudulent purchases but was “confident in the security of the app.”\n\nLoyalty programs are “almost a honey pot for hackers,” said Kevin Lee, a risk expert for the digital security firm Sift. They tend to be, he said, “the path of least resistance”: easy to sign up for, shielded by flimsy passwords and often neglected by users. The programs, and their appetite for data, have grown, but security has not kept pace.\n\nDaniel Najera was hit twice.\n\nOn April 9, he received a series of emails about his Hilton Honors account. Within an hour, the account had been linked to Amazon and all 80,000 of his Hilton points had been used to make purchases.\n\nHe said he had not taken those steps, and he feared that his Hilton account information, including his credit card number, might have been stolen.\n\nHilton said it had “the appropriate security and fraud protection measures in place.” The company also said it had reinstated Mr. Najera’s points after he reported the intrusion.\n\nMr. Najera, a chef who lives in Saginaw, Mich., said something similar had happened to his Buffalo Wild Wings loyalty account earlier this year. '

### Clean Documents

Create list of words from article, while changing to lowercas and removing punctuation and stopwords (modified from Paul's code)

In [28]:
def clean_token(doc): 
    #lowercase all words
    doc = doc.lower()
    #split document into individual words
    tokens = doc.split()
    # remove punctuation from each word
    re_punc = re.compile('[%s]' % re.escape(string.punctuation))
    tokens = [re_punc.sub('', w) for w in tokens]
    # remove stop words
    stop_words = set(stopwords.words('english'))
    tokens = [w for w in tokens if not w in stop_words]    
    return tokens

In [38]:
word_list1 = clean_token(full_doc1)

In [39]:
word_list2 = clean_token(full_doc2)

### Count Tokens

In [40]:
token_count1 = Counter(word_list1).most_common()

In [41]:
token_count2 = Counter(word_list2).most_common()

### Convert to Dataframe

In [42]:
tokens_df1 = pd.DataFrame(token_count1, columns=["token", "count"])

In [43]:
tokens_df2 = pd.DataFrame(token_count2, columns=["token", "count"])

In [44]:
tokens_df1

            token  count
0           night      6
1          airbnb      5
2            luxe      5
3            said      5
4          chesky      4
5           homes      4
6             new      3
7         include      3
8        includes      3
9          luxury      3
10             mr      3
11         guests      3
12      travelers      2
13          sofas      2
14       bedrooms      2
15         around      2
16         rental      2
17           tier      2
18         called      2
19      company’s      2
20         houses      2
21           even      2
22        upscale      2
23           ones      2
24        highend      2
25          every      2
26      executive      2
27           2000      2
28         french      2
29    countryside      2
..            ...    ...
207     concierge      1
208       adviser      1
209         helps      1
210       arrange      1
211        aspect      1
212          stay      1
213       airport      1
214     transfers      1
215    restaurant      1
216  reservations      1
217         tours      1
218   experiences      1
219         level      1
220        detail      1
221     challenge      1
222          gain      1
223   credibility      1
224        sector      1
225         rummy      1
226        pandit      1
227      director      1
228         lloyd      1
229      levenson      1
230     institute      1
231        gaming      1
232   hospitality      1
233       tourism      1
234      stockton      1
235    university      1
236        jersey      1

[237 rows x 2 columns]

In [45]:
tokens_df2

           token  count
0           said      7
1        loyalty      5
2       programs      5
3           year      5
4        account      5
5       security      5
6            one      4
7           data      4
8         hilton      4
9    information      3
10     customers      3
11        points      3
12       company      3
13       rewards      2
14         honey      2
15           pot      2
16          know      2
17      personal      2
18         fraud      2
19     involving      2
20          card      2
21     according      2
22          firm      2
23     criminals      2
24        stolen      2
25        breach      2
26      accounts      2
27         least      2
28          last      2
29      starwood      2
..           ...    ...
213       linked      1
214       amazon      1
215        80000      1
216         used      1
217         make      1
218        taken      1
219        steps      1
220       feared      1
221       credit      1
222       number      1
223        might      1
224  appropriate      1
225   protection      1
226     measures      1
227       place”      1
228   reinstated      1
229     najera’s      1
230     reported      1
231    intrusion      1
232         chef      1
233        lives      1
234      saginaw      1
235         mich      1
236    something      1
237      similar      1
238     happened      1
239      buffalo      1
240         wild      1
241        wings      1
242      earlier      1

[243 rows x 2 columns]